@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* body{
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    align-items: center;
} */

header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.336);
    height: 70px;
}

.logo{
    width: 1440px;
    position: relative;
}

.logo::after{
    width: 100px;
    height: 50px;
    content: "";
    background-color: #8F00FF;
    position: absolute;
    filter: blur(70px);
    z-index: 1;
    margin-right: 200px;
}

.logo::before{
    width: 50px;
    height: 50px;
    content: "";
    margin-left: 200px;
    background-color: #8F00FF;
    position: absolute;
    filter: blur(70px);
    z-index: 1;

}

header span{
    z-index: 2;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.i{
    color: #8F00FF;
}

main{
    position: relative;
    width: 1440px;
}

.bg-img{
    top: 0;
    width: 100%;
    position: absolute;
    opacity: 30%;
    z-index: -1;
    height: 600px;
    object-fit: cover;
}

main::before{
    filter: blur(200px);
    top: 50px;
    z-index: -2;
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #8F00FF;
}

.main-quiz{
    position: absolute;
    opacity: 0;
    transition: 2s;
}

.time span::after{
    content: "s";
    width: 20px;
    height: 20px;
    font-size: 1rem;
}

header{
    background-color: #0d0d0dd3;
}

.regressive{
    opacity: 0;
    transition: 0.9s;
    z-index: 0;
    background-color: #00000083;
}

.welcome{
    transition: 1.3s,;
}

.brain{
    animation: float 3s infinite ease-in-out alternate;
}

@keyframes float{
    from{
        transform: translateY(0);
    } to{
        transform: translateY(10px);
    }
}

.quiz{
    filter: drop-shadow(#8F00FF -4px 4px 0) drop-shadow(#000000 -6px 6px 4px);
    background: linear-gradient(180deg, rgba(255,255,255,1) 34%, rgba(208,148,255,1) 100%);
}

.question{
    transition: 0.3s;
    filter: drop-shadow(#000000af -6px 6px 4px);
}

.question:focus{
    border: 3px solid green;
}

.question:hover{
    transform: scale(0.98);
}

@media (max-width: 600){
    body{
        width: 600px;
        background-color: white;
    }
}